*{
    box-sizing: border-box;
    font-family: "font";
}
body{
    margin: 0;
    padding: 0;
    display: flex;
}
@font-face {
    font-family: "font";
    src: url(NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}
.background{
    width: 55%;
    height: 100vh;
}

.login{
    max-width: 420px;
    max-height: 505px;
    margin-left: 8%;
    margin-top: 50px;
    cursor: pointer;
}
span{
    font-size: 36px;
    color: #525252;
    font-weight: 700;
    
}
.text1{
    margin: 0;
}
.google{
    width: 420px;
    height: 45px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding-left: 96px;
    gap: 13px;
    border: 1px solid #E8E8E8;
    color: #828282;
    cursor: pointer;
    margin-top: 25px;
}
.signin{
    text-align: center;
    color: #DDDDDD;
    font-size: 12px;
}

.email input, .password input{
    width: 420px;
    height: 45px;
    border-radius: 5px; 
    border: 1px solid #DED2D9;
    color: #E0E0E0;
    padding-left: 10px;
}

.email input{
    background-image: url(konverti.png);
    background-repeat: no-repeat;
    background-position: 385px;
}
.password input{
    background-image: url(key.png);
    background-repeat: no-repeat;
    background-position: 385px;
}
.password{
    margin-top: 16px;
}
.checkbox{
    max-width: 420px;
    display: flex;
    align-items: center;
    justify-items: center;
}
.remember{
    margin: 0;
    font-size: 12px;
    color: #A1A1A1;
    line-height: 16.37px;
}
.checkinput:hover{
    background-color: #7F265B;
}
.forgot{
    margin: 0;
    color: #7F265B;
    line-height: 16.37px;
    font-weight: 600;
    margin-left: 188px;
}
button{
    width: 420px;
    height: 50px;
    background-color: #7F265B;
    color: white;
    border: none;
    border-radius: 6px;
}

.Create{
    color: #7F265B;
    position: absolute;
    font-weight: 600;
    margin: 143px; 
    
}
.bolo{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-top: 120px;
    margin-left: 50px;
}
.Group{
    margin-bottom: 20px;
}
.submit{
    width: 420px;
    height: 50px;
    background-color: #7F265B;
    border-radius: 6px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 16px;
}